[Unit]
Description=VyOS Abuse IP Reporter
Documentation=file:///usr/share/doc/vyos-ipblock/README.md
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/vyos-abuse-reporter
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300